body {
    background: linear-gradient(225deg, #5e7d78, #384b49);
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('assets/cursor.png'), auto;
}
h1 {
    color: #d0d6d6;
    text-align: center;
}


.projects {
    display:flex; 
    flex-wrap:wrap; 
} 
    .project {
        width: 30%;
        margin: 10px;
        padding: 20px 10px;
        background: white; /* pick a color */
        border-radius: 25%;
}

 /* Scoll */ 
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #d0d6d6; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #384b49; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5e7d78; 
}