body {
    background: linear-gradient(135deg, #5e7d78, #384b49;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('assets/cursor.png'), auto;
}
h1 {
    color: #d0d6d6;
    text-align: center;
}


.about {
    background: #d0d6d6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.skills {
    background: #d0d6d6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.projects {
    background: #d0d6d6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.contact {
    background: #d0d6d6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}